<div class="round_start">

    <form submit="player.submit">
        <h2>{playerCount} Player Game!</h2>
        <p>Try to write the best comment.</p>
        <p>There's three rounds, with two articles each. Be the best commenter to gain points.</p>
        <p>Then vote for the comments you think are best.</p>
    </form>

</div>
