<div class="lobby" music="theme.ogg">

    <div class="info anim">
        <p>Welcome to Interknots!</p>
        <p>Grab a device, head to {url} and enter the room code to get started!</p>
        <p>You'll should have <b>three or more players</b> to start.</p>
        <p>You can play with two, but <i>why</i>?</p>
    </div>

    <ul class="players"></ul>

    <div class="room-code anim">
        <div class="inner">
            <h3>ROOM CODE</h3>
            <h2>{room}</h2>
        </div>
    </div>

</div>
