<div class="vote-results" music="round_esc.ogg">

    <div class="center-title anim">
        <h2>Pick the best answer!</h2>
    </div>

    <div class="prompt anim">
        <div class="image" style="background-image: url('{vote.image}')" show="vote.image"></div>
        <div class="question-text" show="vote.text">{vote.text}</div>
    </div>

    <div class="answers">
        <div class="answer-card card anim">
            <div class="answer">{vote.playerA.answer}</div>
            <ul class="players votesA"></ul>
        </div>
        <div class="answer-card card anim">
            <div class="answer">{vote.playerB.answer}</div>
            <ul class="players votesB"></ul>
        </div>
    </div>

</div>
