@import url('https://fonts.googleapis.com/css?family=Eczar:800|Work+Sans:800');

html {
    box-sizing: border-box;
    line-height: 1.4em;
    font-family: 'Work Sans', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

*, *:before, *:after {
    box-sizing: border-box;
}

.anim {
    transition: all 0.4s cubic-bezier(0.080, 1.420, 0.415, 0.980);
}

.out .anim, .anim.out {
    transition: all 0.2s ease-in;
}

.anim.off {
    transition: none;
}

input, button {
    border: none;
    color: #FFF;
}

body, input, .mid-bg, .background {
    background-color: #238E6B;
}

button {
    color: #FFF3ED;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.light-bg, ul.players li {
    background-color: #CCE2DB;
}

.dark-bg-alt {
    background-color: #6A2400;
}

button, .mid-bg-alt, .main-header, .room-code {
    background-color: #D66B35;
    color: #FFF3ED;
}

.light-bg-alt, .info, form, .card {
    background-color: #FFEEE5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.light-alt, .center-title {
    color: #FFEEE5;
}

.main-container {
    padding: 20px;
    margin: 0 auto;
}

.main-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding-top: 120px;
}
.main-view.out, .main-view.off {
    transform: scale(1.5);
    opacity: 0;
}
.main-view.in {
    transform: scale(1);
    opacity: 1;
}

.main-header {
    height: 50px;
    line-height: 50px;
    color: #FFF;
    transform: scale(1) rotate(-3deg);
    margin-bottom: 1em;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.title, h1, h2, h3, h4, h5, h6 {
    font-family: 'Eczar', serif;
    margin: 0 0 0.5em;
    text-shadow: 0 3px 0 rgba(0,0,0,0.3);
    text-transform: uppercase;
    font-weight: normal;
}

h1 {
    text-transform: lowercase;
}

.main-header h1 {
    margin: 0.4em 0 1.5em;
    text-align: center;
    font-size: 2.5em;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder, ::placeholder, :placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
}

p {
    margin: 0 0 0.5em;
}

.info, form {
    border-radius: 20px;
    padding: 1em;
    margin: 0.2em auto 2em;
    transform: scale(1) rotate(2deg);
    max-width: 500px;    
    line-height: 1.1em;
}

button:disabled {
    opacity: 0.5;
}

.info {
    transform: scale(1) rotate(-1deg);
}

input, button {
    width: 100%;
    padding: 0.8em 0.8em;
    border-radius: 0.7em;
    margin-bottom: 0.8em;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

button.picked {
    opacity: 1.0;
    background-color: #000;
    border: 3px solid #FFF;
    color: #FFF;
}

input {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1) rotate(-1deg);
}

.room-code {
    line-height: 10em;
    width: 10em;
    height: 10em;
    border-radius: 10em;
    text-align: center;
    color: #FFF;
    display: block;
    position: relative;
    box-shadow: 0 5px 0 rgba(0,0,0,0.5);
}

    .room-code .inner {
        padding-top: 3em;
        transform: scale(1) rotate(-5deg);
    }

    .room-code h2, h3 {
        line-height: 1em;
        margin: 0;
    }

    .room-code h2 {
        text-transform: uppercase;
        font-size: 3em;
    }

    .room-code h3 {
        text-shadow: none;
        color: #000;
    }

ul.players {
    margin: 0; padding: 0;
    text-align: center;
}

    ul.players li {
        display: inline-block;
        padding: 0.5em 1em;
        border-radius: 1em;
        box-shadow: 0 3px 0 rgba(0,0,0,0.3);
        transform: rotate(-3deg);
    }

div.image {
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2em;
    background-color: #FFF;
    border: 5px solid #FFF;
    transform: scale(1) rotate(-3deg);
}

.center-title {
    text-align: center;
    margin-bottom: 1em;
}

.question-text {
    display: block;
    padding: 1em;
    font-size: 1.6em;
    line-height: 1em;
    border: 4px solid rgba(0,0,0,0.3);
    margin: 0.6em 0;
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    background-color: #FFF;
}

.hide {
    display: none;
}

/*
form input:first-child {
    transform: rotate(-1deg);
}
*/

.counter {
    width: 3em;
    height: 3em;
    line-height: 2.7em;
    text-align: center;
    background-color: #000;
    color: #FFF;
    font-size: 2em;
    border-radius: 2em;
    border: 0.14em solid #FFF;
    margin: 0;
    box-shadow: 0 2px 10px #000;
    position: absolute;
    top: 10%;
    right: 22%;
    transform: rotate(5deg);
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    text-align: center;
    color: #FFF;
}
.splash h1 {
    margin-top: 20%;
}