<div class="view-start">

    <div class="info">
        <p>Welcome to CAPTIOR, type in a name and a room code to get started.</p>
    </div>

    <form submit="player.connect">
        <input type="text" name="room" placeholder="Room" value="{save.lastRoom}" />
        <input type="text" name="name" placeholder="Name" value="{save.lastName}" />
        <button type="submit">Go!</button>
    </form>

</div>
