<div class="joined">

    <div class="info">
        <p>You've joined {room} and you're ready to play!</p>
        <p>When everybody has joined, click the button below.</p>
        <p>There are <span class="playerCount">{playerCount}</span> players.</p>
        <button id="start-button" onclick="player.allHere()" disabled>We're all here!</button>
    </div>

</div>
