<div class="joined">

    <form submit="player.submitAnswer">
        <h2>{round.title}</h2>
        <div class="image" style="background-image: url('{question.image}')" show="question.image"></div>
        <div class="question-text" show="question.text">{question.text}</div>
        <input type="text" name="answer" />
        <button type="submit">That's my answer!</button>
    </form>

</div>