<div class="vote">

    <form>
        <h2>Pick the best answer</h2>
        <button class="vote-pick" onclick="player.pickVote(1)">{vote.playerA.answer}</button>
        <button class="vote-pick" onclick="player.pickVote(2)">{vote.playerB.answer}</button>
    </form>

</div>
