body {
    background-color: black;
}

div#container {
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 50%;
    top: 50%;
    margin-left: -640px;
    margin-top: -360px;
    overflow: hidden;

    font-size: 20pt;
}

.room-code {
    position: absolute;
    bottom: 3em;
    right: 3em;
    transform: scale(1);
}
.room-code.anim.off {
    transform: scale(0);
}

.info, .form {
    position: absolute;
    top: 25%;
    width: 44%;
    left: 28%;
    max-width: 100%;
}
.info.anim.off, .form.anim.off {
    top: -80%;
}

.vote-results {}

    .vote-results .prompt {
        top: 28%;
        left: 12%;
        width: 40%;
        overflow: visible;
        position: absolute;
    }
    .vote-results .prompt.anim.off {
        left:-60%;
    }

    .vote-results .answers {
        width: 40%;
        top: 25%;
        right: 8%;
        overflow: visible;
        position: absolute;
    }
        .vote-results .answer-card {
            width: 15em;
            height: 7em;
            margin: 1em 2em;
            transform: rotate(1deg) scale(1);
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .vote-results .answer-card.anim.off {
            transform: rotate(-50deg) scale(0);
        }

            .vote-results .answer-card .answer {
                padding: 1em 1em 0;
                text-align: center;
                line-height: 1.3em;
                text-transform: uppercase;
            }

.results ul.players li {
    display: block;
}
